.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

body {
  margin: 2px;
  border: 2px;
  padding: 2px; }

.navDiv {
  border-bottom: 1px solid #e1e3df;
  display: flex;
  justify-content: space-between; }
  .navDiv .navDivRight {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 100px; }
    .navDiv .navDivRight .etsyLogo {
      color: #f45800;
      font-family: "Merriweather", serif;
      font-size: 26px;
      height: 30px;
      width: 60px; }
    .navDiv .navDivRight .hamburger {
      fill: #777777;
      height: 24px;
      width: 22px;
      margin-top: 6px; }
  .navDiv .navDivLeft {
    display: flex;
    justify-content: space-between;
    width: 156.63px;
    color: #e55400;
    font-size: 14px;
    margin: 8px; }
    .navDiv .navDivLeft .cart {
      height: 50px;
      width: 50px;
      fill: black; }
